= error_messages_for(@user_story)
=form_for([@project, @user_story], :remote => true) do |f|
  %div
    =f.label :name
    =f.text_field :name, :autofocus => true
  %div
    =f.label :description
    =f.text_area :description
  %div
    =f.label :story_size_id, 'Story Size'
    =f.collection_select(:story_size_id, @story_sizes, :id, :name, :include_blank => '?')
  %div#status
    =f.label :status_id
    =f.collection_select(:status_id, @statuses, :id, :name)
  %div
    =f.submit :class => 'button'
