Greetings,
%br
%br
= "Your friend #{@sender.name} has invited you to join kanbanBoard!"
%br
kanbanBoard is a simple way to visualize and manage your project workflow.
%br
%br
= link_to 'Join kanbanBoard', signup_url
%br
\--
%br
Cheers,
%br
kanbanBoard Team

