Greetings,
= "Your friend #{@sender.name} has invited you to join kanbanBoard!"
kanbanBoard is a simple way to visualize and manage your project workflow.
= link_to 'Join kanbanBoard', signup_url
\--
Cheers,
kanbanBoard Team

