= error_messages_for(status)
= form_for([project, status]) do |f|
  %div
    =f.label :name
    =f.text_field :name
  %div
    =f.label :wip, 'Work in Progress Limit'
    =f.text_field :wip
  %div
    =f.submit :class => 'button'

