%section{ :id => status.alias }
  %h3= status.name
  %ul{ 'data-update-url' => update_status_project_user_stories_path(project, :status => status.id)}
    =render :partial => 'user_stories/user_story', :collection => status.user_stories.by_project(project.id), :locals => { :project => project }
    %li.show_more_user_stories Show more User Stories

