= error_messages_for(issue)
=form_for([project,user_story,issue], :remote => true) do |f|
  %div
    =f.label :description
    =f.text_area :description, :rows => '6'
  %div
    =f.submit :class => 'btn'
