%h2 New User
=form_for @user do |f|
  %div
    =f.label :email, 'Email'
    =f.text_field :email
  %div
    =f.label :password, 'Password'
    =f.password_field :password
  %div
    =f.label :password_confirmation, 'Password Confirmation'
    =f.password_field :password_confirmation
  %div=f.submit :class => 'button'
