%h2 Visualize and manage your workflow with kanbanBoard
%h3 A lean tool for a lean development
%div#enter
  = link_to 'Login', login_path, :class => 'button'
  or
  = link_to 'Sign Up', signup_path, :class => 'button'
