%h2 Projects
%table#projects_list
  %thead
    %td.project_name Project
    - @statuses.each do |status|
      %td{ :class => status.alias }= status.name
    %td
    %td
  %tbody
    = render @projects
- if @projects.empty?
  %div.empty_list No projects yet
      
=link_to 'New Project', new_project_path, :class => 'button'
