- if @invitations.any?
  %h2 Invitations
  %ul#invitation_list
    = render @invitations
%h2 Projects
%table#projects_list
  %thead
    %th.project_name Name
    %th Statuses
    %th User Stories
    %th Availability
    %th Members
  %tbody
    = render @projects
- if @projects.empty?
  %div.empty_list No projects yet
=link_to 'New Project', new_project_path, :class => 'button'

