- if @invitations.any?
  %h1 Invitations
  %ul#invitation_list
    = render @invitations
%h1 Projects
%table.table.table-bordered.table-striped
  %thead
    %th.project_name Name
    %th Statuses
    %th User Stories
    %th Availability
    %th Members
    %th Manage
  %tbody
    = render @projects
- if @projects.empty?
  %div.empty_list No projects yet
= link_to new_project_path, :class => 'btn btn-success' do
  %i.icon-plus.icon-white
  New Project
