body.home
  text-align: center
  background-color: #f2f2f2
  h2
    margin: 2em 0 1em
    font-size: 200%
  h3
    margin: 1em
    font-size: 140%
  img#screenshot
    box-shadow: 0 0 5px #aaa
    background-color: #fff
    padding: 5px
  div#enter
    text-align: center
    a
      margin: 0 10px
      background-color: #fff
    
