body.projects
  
  ul#invitation_list
    margin: 10px 0 20px 0
    border: 1px solid #F5DC7D
    background-color: #FCF7D9
    li
      padding: 5px
      a
        margin: 0 5px
  
  h2#project_title
    float: left
  a#new_story
    float: right
  table#projects_list
    thead td.project_name
      text-align: left
    td.project_info
      text-align: left
      h3
      div
        &.project_name
          font-size: 120%
        &.project_description
          margin: 2px 0
          color: #666
        &.project_members
          font-size: 90%
          color: #666
  div.empty_list
    margin-top: -20px
    margin-bottom: 20px
    border: 1px solid #ccc
    border-top: none
    padding: 5px
    text-align: center
    color: #aaa
