.ui-dialog
  position: absolute
  padding: 20px
  border: 10px solid #ccc
  background-color: #fff
  span.ui-dialog-title
    font-size: 140%
    font-weight: bold
  span.ui-icon-closethick
    float: right
    cursor: pointer
    font-weight: bold
    text-decoration: none
  .ui-widget-header
    margin-bottom: 10px
