%tr{:id => ['member', member.id]}
  %td= member.name
  %td= member.email
  - unless current_user == member
    %td= link_to 'remove', project_member_path(@project, member), :method => :delete, :confirm => 'Are you sure?'
  - else
    %td
