%h2= link_to @project.name, project_path(@project)
%h3 Members
%table
  %thead
    %td Name
    %td Email
    %td Actions
  %tbody
    =render :partial => 'member', :collection => @members
= link_to 'Add Member', new_project_member_path(@project)
